<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <h2>
      404 a page with the url <%= url %> not found. Please try a different page.
    </h2>
  </body>
</html>
