<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/navbar.ejs') %>

    <h1>All Fruits</h1>
    <% if(allFruits.length === 0) { %>
    <p>
      No fruits available. Please add a new fruit on
      <a href="/fruits/new">New Fruit Page</a>
    </p>
    <% } %>
    <ul>
      <% allFruits.map(fruit => { %>
      <li>
        <a href="/fruits/<%= fruit._id %>"> <%= fruit.name %> </a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
